.custom {
  width: 100vw;
  height: 100vh;
  @include layout-vertical-center;
  header {
    @include layout-vertical-center;
    margin-bottom: 20px;
  }
  main {
    @include layout-horizontal-center;
    padding: 0 50px;
  }
}

.custom-form {
  width: 100%;
}
