.custom {
  @include layout-vertical-center;
  width: auto;
  height: auto;
  padding: 0 50px;

  & header {
    @include layout-vertical-center;
    max-width: 800px;
  }

  & main {
    @include layout-vertical-center;
    width: 100%;
    max-width: 800px;
  }

  &-form {
    width: 100%;
  }
}
