.promotion {
  &-item {
    @include layout-horizontal-center;
    margin: 20px;
    border: $border-line-3;
    border-radius: $border-radius-2;
    &__text {
      color: black;
      padding: 100px 0;
    }
  }
}
