.requireLogin {
  @include layout-vertical-center;
  &-forms {
    @include layout-vertical-center;
    gap: 20px;
    border: 1px solid rgba(199, 199, 199, 0.3);
    background-color: rgba(199, 199, 199, 0.1);
    border-radius: 3%;
    padding: 50px;
    margin: 50px;
  }
}

.requireLogin-form-msg {
  display: block;
  font-size: 14px;
  color: red;
  text-align: center;
}

.requireLogin-form-link {
  font-size: 24px;
  text-align: center;
}
