body.storage {
  background-color: $color-secondary-light-blue;
}

// docu-sidebar.pug
// 사이드바 업로드 기능 버튼
.sidebar {
  &-btn {
    @include layout-horizontal-center;
    @include btn-sidebar;
    font-family: "Noto Sans KR", sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1.5px solid rgba(255, 255, 255, 0.4);
    transition: all 200ms ease;
  }

  &-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

// docu-status.pug
// 문서 상태 링크, 검색창
.docu-status {
  @include layout-horizontal-center;
  justify-content: space-between;
  margin: 25px 20px;

  &__item {
    @include layout-horizontal-center;
    list-style: none;
    padding: 15px 0;
    margin: 0 20px;
  }
  &__link {
    color: black;
    margin: 0 10px 0 0;
  }
  &__box {
    @include layout-horizontal-center;
    background-color: #223daa;
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }
  &__number {
    color: #a3c735;
    font-size: 12px;
  }
}

.search {
  @include btn;
  margin: 5px 20px;
  height: 40px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.6);
  color: black;
}

// docu-signature-wrap.pug
// 문서 마다의 상황 보여주는 카드
.signature-wrap {
  margin: 0 40px;
  margin-bottom: 10px;
}

.signature {
  box-sizing: border-box;
  @include layout-horizontal-center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 10px 20px;

  // 문서명, 날짜, 헤쉬 묶어주는 style
  &-info {
    & span {
      display: block;
      color: black;
      margin: 10px 0;
    }

    &__filename {
      font-size: 16px;
    }

    &__date {
      font-size: 12px;
    }

    &__hash {
      font-size: 12px;
    }
  }

  // 원형 인증완료 표시 아이콘 style
  &-icon {
    @include layout-horizontal-center;

    &__wrap {
      @include layout-horizontal-center;
      width: 70px;
      height: 70px;
      background-color: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      margin-right: 16px;
    }

    // js로 모듈화해서 기능 넣기
    &__confirm {
      @include layout-vertical-center;
      align-items: center;
      width: 60px;
      height: 60px;
      border: 2px solid black;
      border-radius: 50%;
      transform: rotate(-30deg);
      & span {
        @include layout-vertical-center;
        font-size: 12px;
        font-weight: 700;
        margin: 2px 0;
        color: black;
      }
    }
  }

  // js로 모듈화해서 기능 넣기
  &-btn {
    & button {
      width: 120px;
      height: 40px;
      border-radius: 5px;
      background-color: #223daa;
      color: black;
    }
  }
}

// ------------------------------------------------------------------
.sidebar-horizontal-line {
  border: 1px solid rgba(199, 199, 199, 0.1);
  position: absolute;
  width: 100%;
  top: 145px;
  z-index: -1;

  &__waiting {
    position: absolute;
    top: 145px;
    width: 81.51px;
  }

  &__documentation {
    @extend .sidebar-horizontal-line__waiting;
    width: 97.55px;
  }

  &__certification {
    @extend .sidebar-horizontal-line__waiting;
    width: 97.55px;
  }
}

.now-page {
  color: #a3c735;
}
