nav.docu-status 
    li.docu-status__item 
        a(href="/document/waitforauth" class="docu-status__link") 인증대기
        .docu-status__box
            span.docu-status__number 1
    li.docu-status__item 
        a(href="/document/documentation" class="docu-status__link") 문서화 완료
        .docu-status__box
            span.docu-status__number 2
    li.docu-status__item 
        a(href="/document/certification" class="docu-status__link") 인증서 발급
        .docu-status__box
            span.docu-status__number 0
    input.search(type="text" placeholder="검색어를 입력하세요.")  