// Color ----------------------------------------------
$color-text: #fff;

$color-primary: #272727;
$color-accent: #ff652f;
$color-danger: #ff7782;
$color-success: #41f1b6;
$color-warning: #ffbb55;
$color-white: #fff;
$color-info-dark: #7d8da1;
$color-info-light: #ffbb55;
$color-dark: #363949;
$color-light: rgba(132, 139, 200, 0.18);
$color-primary-variant: #111e88;
$color-dark-variant: #677483;
$color-background: #f6f6f9;

// dark mode
.dark-theme-variables {
  $color-background: #181a1e;
  $color-white: #202528;
  $color-dark: #edeffd;
  $color-dark-variant: #a3bdcc;
  $color-light: rgba(0, 0, 0, 0.4);
  $box-shadow: 0 2rem 3rem var(--color-light);
}

// border-radius ----------------------------------------------
$card-border-radius: 2rem;
$border-radius-1: 0.4rem;
$border-radius-2: 0.8rem;
$border-radius-3: 1.2rem;

// padding ----------------------------------------------
$card-padding: 1.8rem;
$padding-1: 0.8rem;
$padding-2: 1.2rem;
$padding-3: 1.6rem;
$padding-4: 2rem;

// shadow ----------------------------------------------
$box-shadow: 0 2rem 3rem var(--color-light);

// font ----------------------------------------------
// noto sans kr (default)
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800&display=swap");

// ultra (Emphasis),
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&family=Ultra&display=swap");

// cormorant garomond (classic)
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

// Rokkitt (coding feeling)
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Rokkitt:wght@100;300;500;700;900&display=swap");

// asset 경로 ----------------------------------------------

// ~@는 src 폴더를 표현
$asset-path: "/src/assets/";
