// btn ----------------------------------------------
@mixin btn {
  font-family: "Noto Sans KR", sans-serif;
  width: 200px;
  height: 35px;
  border-radius: $border-radius-1;
  font-size: 14px;
}

@mixin btn-sidebar {
  font-family: "Noto Sans KR", sans-serif;
  width: 197px;
  height: 50px;
  border-radius: $border-radius-1;
  font-size: 14px;
}

// input ----------------------------------------------
@mixin input-box {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: $border-radius-1;
  font-size: 14px;
}

@mixin input-btn {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 50px;
  border-radius: $border-radius-1;
  background-color: $color-btn;
  font-size: 14px;
}

.btn--wrapper {
  @include layout-horizontal-center;
  justify-content: space-between;
  width: 100%;
}
.btn--link {
  & input {
    @include btn;
    background-color: $color-primary-blue;
    margin: 5px 0;
  }
}

.button--plus {
  @include btn;
  width: 100%;
  margin: 5px 0;
  background-color: $color-primary-blue;
}
