// btn ----------------------------------------------
@mixin btn {
  font-family: "Noto Sans KR", sans-serif;
  background-color: white;
  width: 200px;
  height: 35px;
  border-radius: $border-radius-1;
  font-size: 14px;
  transition: 0.1s;
}

@mixin btn-sidebar {
  font-family: "Noto Sans KR", sans-serif;
  width: 197px;
  height: 50px;
  border-radius: $border-radius-1;
  font-size: 14px;
}

// input ----------------------------------------------
@mixin input-box {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: $border-radius-1;
  font-size: 14px;
}

@mixin input-btn {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 50px;
  border-radius: $border-radius-1;
  background-color: $color-btn;
  font-size: 14px;
}

.btn--wrap {
  width: 100%;
  @include layout-horizontal-center;
  justify-content: space-between;
  gap: 6px;
  margin-bottom: 20px;

  input[type="file"] {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  & button:hover,
  input:hover,
  label:hover {
    scale: 1.06;
    font-weight: 600;
  }
}

.btn--anchor {
  display: block;
  @include btn;
  @include layout-horizontal-center;
  width: 48%;
  background-color: $color-primary-blue;
}

.btn--link2 {
  @include btn;
  width: 48%;
  background-color: $color-primary-blue;
}

.btn--link3 {
  @include btn;
  width: 32%;
  background-color: $color-primary-blue;
}

.button--plus {
  @include btn;
  width: 100%;
  margin-bottom: 10px;
  background-color: $color-primary-blue;

  &:hover {
    scale: 1.06;
    font-weight: 600;
  }
}
