// 메인 네비게이션
.nav {
  background-color: $color-secondary-dark-blue;
  box-shadow: $box-shadow-8;
  &-wrap {
    margin: 0 20px;
    @include layout-horizontal-center;
    justify-content: space-between;
  }
  &-link {
    @include font-nav;
    padding: 0 20px;
    &:hover {
      color: $color-primary-blue;
    }
  }
}

// 로그인 회원가입 네비게이션
.nav-auth {
  @include layout-vertical-center;
}

// 현재 url인 a 태그 css 적용
.selected-url {
  color: $color-primary-blue;
}
