.canvas {
  max-width: 400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: $box-shadow-2;
  margin-bottom: 20px;

  &__destroy {
    display: block;
    @include layout-horizontal-center;
    @include btn;
    width: 31%;
    color: black;
    cursor: pointer;
  }

  &__save {
    display: block;
    @include layout-horizontal-center;
    @include btn;
    width: 31%;
    color: black;
    cursor: pointer;
  }

  &__file {
    @include layout-horizontal-center;
    @include btn;
    width: 31%;
    cursor: pointer;
  }
}
