html(lang="en")
    head
        include ../../includes/html-head.pug

    body.auth
        nav.nav-auth 
            .logo
                a(href="#") 
                    img(src="../assets/img/logo.png")
            .nav-link-wrap
                a(href="/recipient/login" class="nav-link") 로그인
                a(href="/recipient/signin" class="nav-link") 회원가입

        //- 로그인 시작
        if user
            .form-wrap 
                form(action="/recipient/login-local" method="post" class="login-forms")
                    .login-profile
                        .login-profile__info
                            .login-profile__info__email #{user.email}
                            .login-profile__info__username #{user.name} 님 안녕하세요.
                        .login-profile__link
                            a(class="login-form__logout" href="/storage") 문서 보관함
                            a(class="login-form__logout" href="/auth/logout") 로그아웃
        else 
            .form-wrap
                form(action="/recipient/login-local" method="post")
                    .form
                        .form__Feedback 
                            span #{errorFeedback}
                            label.form__label(for="email") 이메일
                            input.form__input(type="text" name="email")
                            label.form__label(for="password") 비밀번호
                            input.form__input(type="password" name="password")
                            button.form__button.normal(type="submit")
                                .form__button__item
                                    i.fas.fa-envelope
                                .form__button__item
                                    span 로그인하기
                                .form__button__item
                    .form
                        .form__text
                            span SNS 로그인
                        a(href="/auth/line")
                            button.form__button.line(type="button")
                                .form__button__item
                                    img(src="../../../assets/img/line_icon.png" alt="")
                                .form__button__item
                                    span Line 로그인
                                .form__button__item
                        a(href="/auth/facebook")
                            button.form__button.facebook(type="button")
                                .form__button__item
                                    img(src="../../../assets/img/facebook_icon.png" alt="")
                                .form__button__item
                                    span Facebook 로그인
                                .form__button__item
                        a(href="/auth/kakao")
                            button.form__button.kakao(type="button")
                                .form__button__item
                                    img(src="../../../assets/img/kakao_icon.png" alt="")
                                .form__button__item
                                    span Kakao 로그인
                                .form__button__item

