html(lang="en")
    head
        include ../../includes/html-head.pug

    body 
        include ../../includes/nav-bar.pug
        header.document-header
            h2.title-1#pages Profile
            
        main
            //- 진행률 표시
            include ../../includes/progress-bar.pug

            //- 이전 페이지, 다음 페이지 이동 버튼
            .moveBtns
                input(type="button" onclick="history.back()" value="이전")
                input(type="button" onclick="history.forward()" value="다음")

        script(type='text/javascript' src="./js/progress-indicator.js")
