.login {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: $regular;
  background-image: url("../assets/img/bg-login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

// ------------------------------------------------------------------
.nav-enter {
  @include layout-horizontal-center;

  &-link {
    text-decoration: none;
    color: white;
    margin: 0px 30px 0 30px;
    font-size: 25px;
    &__gray {
      text-decoration: none;
      margin: 0px 30px 0 30px;
      font-size: 25px;
      color: gray;
    }
  }
}

// ------------------------------------------------------------------
.login-wrap {
  @include layout-vertical-center;
  margin-top: 50px;
  .login-forms {
    border: 1px solid rgba(199, 199, 199, 0.3);
    background-color: rgba(199, 199, 199, 0.1);
    border-radius: 3%;
    padding: 50px;
    margin: 50px;
    .login-form {
      & label {
        display: block;
        font-size: 10px;
        color: white;
        margin: 8px;
      }
      &-id {
        &__input {
          @include layout-horizontal-center;
          @include btn;
          color: white;
          font-family: "Noto Sans KR", sans-serif;
          background-color: rgba(255, 255, 255, 0.1);
          border-color: rgba(199, 199, 199, 0.3);
        }
        &__input:focus {
          border: 2px solid rgba(52, 147, 255, 0.8);
        }
      }

      &-password {
        &__input {
          @extend .login-form-id__input;
        }
      }
      &-sns {
        &__title {
          @include layout-horizontal-center;
          font-size: 10px;
          color: rgba(199, 199, 199, 0.8);
          margin: 50px 0 20px 0;
        }
      }
      &-btn {
        & button {
          @include layout-horizontal-center;

          padding: 5px;
          border-radius: 5px;
        }

        &__text {
          color: white;
        }
      }
    }
  }
}

// ------------------------------------------------------------------
.horizontal-line {
  border: 1px solid rgba(199, 199, 199, 0.1);
  position: absolute;
  width: 100%;
  top: 140px;

  &__login {
    border: 1px solid #254aaf;
    position: absolute;
    width: 69px;
    top: 140px;
  }
}

// ------------------------------------------------------------------
.normal {
  &-btn {
    @include btn;
    border-color: #c4d71f;
    background-color: #c4d71f;
    & i {
      margin-right: 5px;
    }
  }
}

.line {
  &-btn {
    @include btn;
    border-color: #52b52e;
    background-image: url("../assets/img/line_icon.png");
    background-repeat: no-repeat;
    background-size: 7%;
    background-position: 22%;
    background-color: #52b52e;
    color: white;
  }
}

.facebook {
  &-btn {
    @include btn;
    border-color: #254aaf;
    background-image: url("../assets/img/facebook_icon.png");
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 16%;
    background-color: #254aaf;
    color: white;
  }
}
