html(lang="en")
    head
        include ../../includes/html-head.pug
    body 
        .nav
            .nav-wrap
                .logo
                    a(href="/") 
                        img(src="../assets/img/logo.png")
                a(class="nav-link" href="/document") 문서 작성
                a(class="nav-link" href="/send") 문서 전송
                a(class="nav-link" href="/signature") 사인 | 도장
                a(class="nav-link" href="/storage") 문서 보관함

                if user
                    .profile 
                        a(href="/profile")
                            .profile__avatar
                        .profile__wrapper
                            a(class="profile__name" href="/profile") #{user.name} 님
                            a(class="profile__logout-btn" href="/auth/logout" ) 로그아웃

                else
                    a(class="profile__login-btn" href="/auth/login") 로그인
                    a(class="profile__signin-btn" href="/auth/signin") 회원가입

        .promotion
            .promotion-item
                span(class="promotion-item__text") 프로모션1
            .promotion-item
                span(class="promotion-item__text") 프로모션2
            .promotion-item
                span(class="promotion-item__text") 프로모션3
        
    script(type='text/javascript' src="../../js/navActiveLink.js")
    