html(lang="en")
    head
        include ../../includes/html-head.pug

    body.converting 
        header.converting-header
            //- 로고
            .logo 
                a(href="/") 
                    img(src="../assets/img/logo.png")
        
            h2.page-4#pages Sending E-mail
            
        main.converting-main
            //- 진행률 표시
            include ../../includes/progress-container.pug

            .description 
                span 
            .moveBtns
                a(href="/document/select-conpanies")
                    input(type="button" name="convertStart" value="문서 작성")