html(lang="en")
    head
        include ../../includes/html-head.pug

    body.docukind 
        header
            //- 로고
            .logo 
                a(href="/") 
                    img(src="../assets/img/logo.png")
            //- 2-2. 문서 수정
            h2.step-2#pages

        main
            //- 진행률 표시
            include ../../includes/progress-bar.pug
            
    script(type='text/javascript' src="../../../js/navActiveLink.js")
