html(lang="en")
    head
        include ../../includes/html-head.pug

    body.converting 
        header.converting-header
            //- 로고
            .logo 
                a(href="/") 
                    img(src="../assets/img/logo.png")
        
            h2.page-1#pages 2. 문서 양식 선택

        main.converting-main
            //- 진행률 표시
            include ../../includes/progress-container.pug
            
            //- 선택한 회사 명과 서명자 이름 표시

            //- 원하는 문서 유형 선택
            form.select-docukind(method="POST" action="/document/select-docukind")
                h2.info=`${companyName1} 서명자: ${contractorName1} & ${companyName2} 서명자: ${contractorName2}`

                .slide_wrapper
                    .slides 
                        li.slide(tabindex="1")
                            label(name="docukind") 자유형식
                            input(type="radio" name="docukind" value="자유형식" style={display: "none"})
                        li.slide(tabindex="2")
                            label(name="docukind") MOU계약서
                            input(type="radio" name="docukind" value="MOU계약서" style={display: "none"})
                        li.slide(tabindex="3")
                            label(name="docukind") 근로계약서
                            input(type="radio" name="docukind" value="근로계약서" style={display: "none"})
                        li.slide(tabindex="4")
                            label(name="docukind") 차용증
                            input(type="radio" name="docukind" value="차용증" style={display: "none"})
                        
                    //- 이전 페이지, 다음 페이지 이동 버튼
                    .moveBtns
                        input(type="button" onclick="history.back()" value="이전")
                        input(type="submit" value="다음")





        script(type='text/javascript' src="./js/progress-indicator.js")
        script(type='text/javascript' src="./js/select-docukind.js")

        //- db 적용해서 이전 페이지에서 작성한 회사 리스트 뜨도록 하기
        //- db 에서 가져와서 문서 종류 조회 및 선택이 되도록 하기