each user in info
    .cardwrap
        .card
            .card__contractorCompanyName
                span #{user.companyName}
            .card__contractorName
                span #{user.contractorName}
            .card__contractorEmail
                span #{user.contractorEmail}
            .card__contractorPhone
                span #{user.contractorPhone}
