//- pdf 문서 시작
.signature-wrap 
    .signature 
        .signature-info 
            span.signature-info__filename contract-seong.pdf 
            span.signature-info__date 2022.05.11 
            //- 헤쉬 길이  ~~~... 으로 길이 통일 시키기
            span.signature-info__hash ahjsgduy12gd817628dgashjg12ljkhed72189hgd872dawksjhdjh
        .signature-icon 
            .signature-icon__wrap
                //- 서명 받을 사람들이 늘어나면 아이콘 더 추가하기
                .signature-icon__confirm 
                    span 갑
                    span 인증완료
            .signature-icon__wrap
                .signature-icon__confirm 
                    span 을
                    span 인증완료
        .signature-btn 
            button 
                span 인증 요청하기
//- pdf 문서 끝