nav.nav 
    li.nav-item 
        a(href="/waitforauth" class="nav-link nav-storage") 인증대기
        hr.sidebar-horizontal-line__waiting.nowpage
        .nav__box
            span.nav__number 1
    li.nav-item 
        a(href="/documentation" class="nav-link nav-storage") 문서화 완료
        hr.sidebar-horizontal-line__documentation.nowpage
        .nav__box
            span.nav__number 2
    li.nav-item 
        a(href="/certification" class="nav-link nav-storage") 인증서 발급
        hr.sidebar-horizontal-line__certification.nowpage
        .nav__box
            span.nav__number 0        
hr.sidebar-horizontal-line