header.header 
    h1.header-title 문서화 관리
    input.header-search(type="text" placeholder="검색어를 입력하세요.")
    .header-profile 
        .header-profile__text 
            span.header-profile__name Higgs 님
            span.header-profile__logout-btn 로그아웃
        img(src="../assets/img/profileA.png")