form.sidebar-btns(method="POST" action="/document/upload_process" enctype="multipart/form-data")
    label.sidebar-btn(for="file-upload") 문서 업로드
    input(type="file" name="userfile" id="file-upload" style={display:"none"}) 
    label.sidebar-btn(for="file-submit") 제출
    input(type="submit" name="제출" id="file-submit" style={display:"none"})      