//- pdf 문서 시작
.signature-wrap 
    .signature 
        .signature-info 
            span.signature-info__filename contract-seong.pdf 
            span.signature-info__date 2022.05.11 
            span.signature-info__hash ahjsgduy12gd817628dgashjg12ljkhed72189hgd872dawksjhdjh
        .signature-sign 
            .signature-sign__wrap 
                .signature-sign__confirm 
                    span 갑
                    span 인증완료
            .signature-sign__wrap
                .signature-sign__confirm 
                    span 을
                    span 인증완료
        .signature-btn 
            button 
                span 인증 요청하기
//- pdf 문서 끝