.nav
    .nav-wrap
        .logo
            a(href="/") 
                img(src="../assets/img/logo.png")
        a(class="nav-link" href="/document/") 문서 작성
        a(class="nav-link" href="/selection/") 문서 선택
        a(class="nav-link" href="/send/") 문서 전송
        a(class="nav-link" href="/signature/") 사인 | 도장
        a(class="nav-link" href="/storage/") 문서 보관함
        .profile 
            .profile__avatar
            .profile__wrapper
                a(class="profile__name" href="/setting/") #{user.name} 님
                a(class="profile__logout-btn" href="/auth/logout/" ) 로그아웃