//- 진행률 표시
.progress
    .progress__title
    .progress__steps
        .step#step-1
        .step#step-2
        .step#step-3
        .step#step-4
        .step#step-5

    //- 1. 회사명, 계약자 입력
    //- 2. 문서 작성
    //- 3. 서명 위치 설정
    //- 4. 서명하기
    //- 5. 메일 전송
