//- 진행률 표시
.progress-wrap
    .progress-container 
        .steps
            .progress-wrap
                .progress
                .percent
            .step-wrap
                .step#0
                span 1. 회사명, 계약자 입력
            .step-wrap
                .step#1
                span 2. 문서 양식 선택
            .step-wrap
                .step#2
                span 3. 문서 작성
            .step-wrap
                .step#3
                span 4. 서명
            .step-wrap
                .step#4
                span 5. 메일 전송