//- 진행률 표시
.progress-wrap
    .progress-container 
        .steps
            //- 선 진행사항 표시
            .progress-wrap
                hr.progress-wrap__progress
                hr.progress-wrap__percent


            //- span 1. 회사명, 계약자 입력
            //- span 2. 문서 양식 선택
            //- span 3. 문서 작성
            //- span 4. 서명
            //- span 5. 메일 전송
            //- .step-wrap
            //-     .step#4
            //-     span 5. 메일 전송