html(lang="en")
    //- 헤드 테그
    include includes/html-head.pug
        script(src="./js/progress-indicator.js") 

    body.converting 
        form(action="/") 
            input(type="text")
            input(type="text")
            input(type="text")
            input(type="text")
            input(type="text")
        h1 html to pdf