doctype
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
        link(rel='stylesheet', href='./css/App.css', type='text/css')
        script(src="https://kit.fontawesome.com/f5b2afa047.js" crossorigin="anonymous")
    body
        #content 
            h2.text-center Export from HTML 
            
            br
            
            table.table.table-bordered#demo 
                thead 
                    tr 
                        th Serial Number 
                        th Name 
                        th Percentile 
                tbody 
                    tr
                        th 1
                        th James 
                        th 8.9
                    tr
                        th 2
                        th Harry 
                        th 7.6
                    tr
                        th 3
                        th Kim 
                        th 6.6
            div
                button.btn#export Save

            br
    br
    script.
        document.getElementById('export').addEventListener('click',
        exportPDF);
        
        var specialElementHandlers = {
        '.no-export': function(element, renderer) {
            return true;
        }
        };
        
        function exportPDF() {
        
        var doc = new jsPDF('p', 'pt', 'a4');
        
        
        var source = document.getElementById('content').innerHTML;
        
        var margins = {
            top: 10,

            bottom: 10,
            left: 10,
            width: 595
        };
        
        doc.fromHTML(
            source,
            margins.left,
            margins.top, {
            'width': margins.width,
            'elementHandlers': specialElementHandlers
            },
        
            function(dispose) {
            doc.save('Test.pdf');
            }, margins);
        }