extends ./_head
block content
    body 
        h1 User profile page
        h2 Nickname
        div.green= nickname

        form(method="POST" action="/upload_process" enctype="multipart/form-data")
            input(type="file" name="userfile") 
            input(type="submit" value="Upload")