extends ./layouts/_login-signin
block script
//- head와 nav
block content


        //- 로그인 시작
        //- 로그인 했을 때
        if isLoggedIn
            .login-wrap 
                form(action="submit" class="login-forms")
                    .login-form 
                        .login-form-id 
                            label(for="login-form-id__input") 아이디
                            input(type="text" name="id" class="login-form-id__input")
                        .login-form-password 
                            label(for="login-form-password__input") 비밀번호
                            input.login-form-password__input(type="password" name="password")
                        .normal
                            button.normal-btn(type="button")
                                i.fas.fa-envelope
                                span 로그인하기
                    .login-form-sns
                        .login-form-sns__title 
                            span SNS 로그인하기
                        .line
                            button.line-btn(type="button")
                                span Line으로 로그인하기
                        
                        .facebook
                            button.facebook-btn(type="button")
                                span Facebook으로 로그인하기
        //- 로그인 안했을 때
        else 
            .login-wrap 
                form(action="submit" class="login-forms")
                    .login-form 
                        .login-form-id 
                            label(for="login-form-id__input") 아이디
                            input(type="text" name="id" class="login-form-id__input")
                        .login-form-password 
                            label(for="login-form-password__input") 비밀번호
                            input.login-form-password__input(type="password" name="password")
                        .normal
                            button.normal-btn(type="button")
                                i.fas.fa-envelope
                                span 로그인하기
                    .login-form-sns
                        .login-form-sns__title 
                            span SNS 로그인하기
                        .line
                            button.line-btn(type="button")
                                span Line으로 로그인하기
                        
                        .facebook
                            button.facebook-btn(type="button")
                                span Facebook으로 로그인하기

