html(lang="en")
    //- 헤드 테그
    include includes/html-head.pug

    body.converting 
        //- 로고
        .nav-logo 
            a(href="/") 
                img(src="../assets/img/logo.png")
        
        //- 진행률 표시
        aside.progress-indicator
        
        h2 Select Docukind
        
        //- 선택한 회사 명과 서명자 이름 표시
        .company_wrapper

        //- 원하는 문서 유형 선택
        form.select-docukind(method="POST" action="/convert/select-docukind")
            .slide_wrapper
                .slides 
                    li.slide(tabindex="1")
                        label(name="docukind") mou
                        input(type="radio" name="docukind" value="mou")
                    li.slide(tabindex="2")
                        label(name="docukind") slide2
                        input(type="radio" name="docukind" value="b2")
                    li.slide(tabindex="3")
                        label(name="docukind") slide3
                        input(type="radio" name="docukind" value="b3")
                    li.slide(tabindex="4")
                        label(name="docukind") slide4
                        input(type="radio" name="docukind" value="b4")
                    li.slide(tabindex="5")
                        label(name="docukind") slide5
                        input(type="radio" name="docukind" value="b5")

            //- 왼쪽 오른쪽 슬라이드 버튼
            p.controls
                i(class="fas fa-chevron-left prevBtn")
                i(class="fas fa-chevron-right nextBtn")
                
            //- 이전 페이지, 다음 페이지 이동 버튼
            .moveBtns
                input(type="button" onclick="history.back()" value="이전")
                input(type="submit" value="다음")





        script(type='text/javascript' src="./js/progress-indicator.js")

        //- db 적용해서 이전 페이지에서 작성한 회사 리스트 뜨도록 하기
        //- db 에서 가져와서 문서 종류 조회 및 선택이 되도록 하기