html(lang="en")
    //- 헤드 테그
    include includes/html-head.pug

    body.converting 
        //- 로고
        .nav-logo 
            a(href="/") 
                img(src="../assets/img/logo.png")
        
        //- 진행률 표시
        aside.side-progress-indicator
        
        //- 작업 영역
        h2 Select Companies
        
        //- 선택한 회사 명과 서명자 이름 표시
        .company_wrapper

        //- 원하는 문서 유형 선택
        .slide_wrapper
            ul.slides 
                li(tabindex="0") MOU
                li(tabindex="1") slide 02
                li(tabindex="2") slide 03
                li(tabindex="3") slide 04
                li(tabindex="4") slide 05
        
        //- 왼쪽 오른쪽 슬라이드 버튼
        p.controls
            i(class="fas fa-chevron-left prevBtn")
            i(class="fas fa-chevron-right nextBtn")

        //- db 적용해서 이전 페이지에서 작성한 회사 리스트 뜨도록 하기
        //- db 에서 가져와서 문서 종류 조회 및 선택이 되도록 하기
script(type='text/javascript' src="./js/progress-indicator.js") 
script(type='text/javascript' src="./js/slide-documents.js") 