@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
.headline-1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 40px;
}

.headline-2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
}

.headline-3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
}

.title-1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.title-1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}

.subtitle-1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.subtitle-2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.body-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.body-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.body-3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.body-4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.button-1 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.button-2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.button-3 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.caption {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.overline {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 0.88rem;
  line-height: 1;
  font-family: "Noto Sans KR", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #e6ecf3;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr,
button,
input {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
}

div {
  margin: none;
  padding: none;
  border: none;
  outline: none;
}

h1 {
  color: white;
  font-size: 1.8rem;
}

h2 {
  color: white;
  font-size: 1.4rem;
}

h3 {
  color: white;
  font-size: 0.87rem;
}

h4 {
  color: white;
  font-size: 0.8rem;
}

h5 {
  color: white;
  font-size: 0.77rem;
}

small {
  color: white;
  font-size: 0.75rem;
}

span {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.logo a img {
  width: 190px;
  height: 40px;
  margin: 30px 20px;
}

.sidebar-logo a img {
  width: 190px;
  height: 40px;
  padding-top: 30px;
}

body.storage {
  background-color: #e6ecf3;
}

.sidebar-btn {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  margin: 0 0 20px 0;
  width: 197px;
  height: 50px;
  border-radius: 0.4rem;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1.5px solid rgba(255, 255, 255, 0.4);
  transition: all 200ms ease;
}
.sidebar-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.docu-status {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 25px 20px;
}
.docu-status-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 15px 50px;
  margin: 0 20px;
}
.docu-status__box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #223daa;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.docu-status__number {
  color: #a3c735;
  font-size: 12px;
}
.docu-status-storage {
  font-size: 14px;
  margin: 0 10px 0 0;
  color: gray;
}

.search {
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px;
  width: 300px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  font-size: 14px;
  margin: 5px 20px;
  height: 40px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: black;
}

.signature-wrap {
  margin: 0 40px;
  margin-bottom: 10px;
}

.signature {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1.5px solid rgba(255, 255, 255, 0.4);
}
.signature-info span {
  display: block;
  margin: 10px 30px;
  color: black;
}
.signature-info__filename {
  font-size: 16px;
  color: black;
}
.signature-info__date {
  font-size: 12px;
  color: black;
}
.signature-info__hash {
  font-size: 12px;
  color: black;
}
.signature-sign {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.signature-sign__wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  margin: 0 10px;
}
.signature-sign__confirm {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 50%;
  transform: rotate(-30deg);
}
.signature-sign__confirm span {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  margin: 2px 0;
  color: black;
}
.signature-btn button {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: #223daa;
  color: black;
  margin: 0 30px;
}

.sidebar-horizontal-line {
  border: 1px solid rgba(199, 199, 199, 0.1);
  position: absolute;
  width: 100%;
  top: 145px;
  z-index: -1;
}
.sidebar-horizontal-line__waiting, .sidebar-horizontal-line__certification, .sidebar-horizontal-line__documentation {
  position: absolute;
  top: 145px;
  width: 81.51px;
}
.sidebar-horizontal-line__documentation {
  width: 97.55px;
}
.sidebar-horizontal-line__certification {
  width: 97.55px;
}

.now-page {
  color: #a3c735;
}

.converting {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #1c2c3b;
}
.converting-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  justify-content: left;
}
.converting-header h2 {
  color: white;
}
.converting-main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 0 20px;
}

.moveBtns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.moveBtns input {
  width: 100px;
  height: 50px;
  margin: 5px 0;
  border-radius: 0.4rem;
  background-color: #e0e0e0;
}

.progress-wrap {
  position: relative;
  display: flex;
  margin: 50px;
}
.progress-wrap .steps {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 600px;
}
.progress-wrap .step-wrap {
  display: flex;
  width: 200px;
  align-items: center;
}
.progress-wrap .step-wrap .step {
  margin-left: 5px;
  box-sizing: border-box;
  left: 0;
  width: 14px;
  height: 14px;
  background: #acaca6;
  border-radius: 50%;
  transition: background 0.5s;
  transition-delay: 1s;
  z-index: 3;
  margin-right: 10px;
}
.progress-wrap .step-wrap span {
  line-height: 23px;
  vertical-align: middle;
}
.progress-wrap .step.selected {
  margin-left: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: white;
  border: 3px solid #4b81bd;
  transition: all 0.5s;
  transition-delay: 1s;
}
.progress-wrap .step.completed {
  margin-left: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 3px solid #4b81bd;
  background: #4b81bd;
  transition: all 0.5s;
  transition-delay: 1s;
}
.progress-wrap .progress-wrap {
  margin: 15px 0 0 10.5px;
  position: absolute;
  height: 95%;
}
.progress-wrap .progress {
  position: absolute;
  width: 177.5px;
  height: 100%;
  border-left: 3px solid #acaca6;
  z-index: 1;
}
.progress-wrap .percent {
  position: absolute;
  width: 177.5px;
  height: 0;
  border-left: 3px solid #4b81bd;
  z-index: 2;
  transition: height 0.5s;
  transition-delay: 1s;
}
.progress-wrap span.focused {
  font-weight: 700;
}

.Selecting {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.Selecting .company {
  width: 100%;
}
.Selecting .label-input-wrap {
  width: 100%;
  flex-flow: row wrap;
}
.Selecting .label-input-wrap label {
  text-align: left;
  margin: 10px 0 0 5px;
}
.Selecting .label-input-wrap input {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  font-size: 14px;
  margin: 5px 0;
}
.Selecting .plusInput {
  width: 100%;
}
.Selecting .plusInput .plusInputBtn {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  font-size: 14px;
}

.select-docukind {
  width: 50%;
}
.select-docukind .info {
  font-size: 20px;
  margin: 10px 5px;
  text-align: left;
}
.select-docukind .slide_wrapper {
  margin: 0 auto;
  height: 400px;
}
.select-docukind .slide_wrapper .slides {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.select-docukind .slide_wrapper .slides .slide {
  list-style: none;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  background: #e0e0e0;
  margin: 2.5px;
}
.select-docukind .slide_wrapper .slides .slide label {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 10px;
}
.select-docukind .slide_wrapper .slides .slide:focus {
  border: 1px solid #21ec91;
  background-color: rgb(156, 156, 156);
}

.docu {
  width: 70%;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.docu-title {
  margin: 50px 0;
}
.docu-title input {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.docu-describe {
  height: 30px;
  margin-bottom: 50px;
}
.docu-describe input {
  height: 30px;
  text-align: center;
}
.docu-contents {
  width: 100%;
}
.docu-content {
  padding: 0 50px;
}
.docu-content:not(:last-child) {
  margin-bottom: 50px;
}
.docu-content input {
  font-size: 16px;
  font-weight: bold;
}
.docu-content textarea {
  width: 100%;
  height: 100px;
  display: block;
  margin: 10px 0;
  border: 1px solid #e0e0e0;
  border-radius: 0.4rem;
}

.addContentBtn {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 50px;
  border-radius: 0.4rem;
  background-color: #e0e0e0;
  font-size: 14px;
  margin: 5px 0;
  padding: 0 50px;
}

.requireLogin {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.requireLogin-forms {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 1px solid rgba(199, 199, 199, 0.3);
  background-color: rgba(199, 199, 199, 0.1);
  border-radius: 3%;
  padding: 50px;
  margin: 50px;
}

.requireLogin-form-msg {
  display: block;
  font-size: 14px;
  color: red;
  text-align: center;
}

.requireLogin-form-link {
  font-size: 24px;
  text-align: center;
}

.promotion-item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 0.8rem;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.promotion-item__text {
  color: black;
  padding: 100px 0;
}

.login {
  background-color: #233e4d;
}

.login-wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.login-wrap .login-forms {
  border: 1px solid rgba(199, 199, 199, 0.3);
  background-color: rgba(199, 199, 199, 0.1);
  border-radius: 3%;
  padding: 50px;
  margin: 50px;
}
.login-wrap .login-forms .login-form label {
  display: block;
  font-size: 10px;
  color: white;
  margin: 8px;
}
.login-wrap .login-forms .login-form-id__input, .login-wrap .login-forms .login-form-password__input {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px;
  width: 300px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  font-size: 14px;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(199, 199, 199, 0.3);
}
.login-wrap .login-forms .login-form-id__input:focus, .login-wrap .login-forms .login-form-password__input:focus {
  border: 2px solid rgba(52, 147, 255, 0.8);
}
.login-wrap .login-forms .login-form-sns__title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: rgba(199, 199, 199, 0.8);
  margin: 50px 0 20px 0;
}
.login-wrap .login-forms .login-form-btn button {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.login-wrap .login-forms .login-form-btn__text {
  color: white;
}

.normal-btn {
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px;
  width: 300px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  font-size: 14px;
  border-color: #c4d71f;
  background-color: #c4d71f;
}
.normal-btn i {
  margin-right: 5px;
}

.line-btn {
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px;
  width: 300px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  font-size: 14px;
  border-color: #52b52e;
  background-image: url("../assets/img/line_icon.png");
  background-repeat: no-repeat;
  background-size: 7%;
  background-position: 22%;
  background-color: #52b52e;
  color: white;
}
.line-btn a {
  text-decoration: none;
  color: white;
}

.facebook-btn {
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px;
  width: 300px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  font-size: 14px;
  border-color: #254aaf;
  background-image: url("../assets/img/facebook_icon.png");
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: 16%;
  background-color: #254aaf;
  color: white;
}
.facebook-btn a {
  text-decoration: none;
  color: white;
}

.kakao-btn {
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px;
  width: 300px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  font-size: 14px;
  border-color: #fae100;
  background-image: url("../assets/img/kakao_icon.png");
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: 19%;
  background-color: #fae100;
  color: white;
}
.kakao-btn a {
  text-decoration: none;
  color: white;
}

.signin-wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.signin-wrap .signin-forms {
  border: 1px solid rgba(199, 199, 199, 0.3);
  background-color: rgba(199, 199, 199, 0.1);
  border-radius: 3%;
  padding: 50px;
  margin: 50px;
}
.signin-wrap .signin-forms .signin-form label {
  display: block;
  font-size: 10px;
  color: white;
  margin: 20px 8px 8px 8px;
}
.signin-wrap .signin-forms .signin-form-email__input, .signin-wrap .signin-forms .signin-form-password__input, .signin-wrap .signin-forms .signin-form-phone__input, .signin-wrap .signin-forms .signin-form-id__input {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px;
  width: 300px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  font-size: 14px;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(199, 199, 199, 0.3);
}
.signin-wrap .signin-forms .signin-form-email__input:focus, .signin-wrap .signin-forms .signin-form-password__input:focus, .signin-wrap .signin-forms .signin-form-phone__input:focus, .signin-wrap .signin-forms .signin-form-id__input:focus {
  border: 2px solid rgba(52, 147, 255, 0.8);
}
.signin-wrap .signin-forms .signin-form-btn {
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px;
  width: 300px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.4rem;
  font-size: 14px;
  border-color: #c4d71f;
  background-color: #c4d71f;
  margin-top: 30px;
}
.signin-wrap .signin-forms .signin-form-btn i {
  margin-right: 5px;
}

.horizontal-line {
  border: 1px solid rgba(199, 199, 199, 0.1);
  position: absolute;
  width: 100%;
  top: 140px;
}
.horizontal-line__signin {
  border: 1px solid #254aaf;
  position: absolute;
  width: 92px;
  top: 140px;
}

.nav {
  background-color: #233e4d;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.nav-wrap {
  margin: 0 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  padding: 0 20px;
  font-size: 18px;
}
.nav-link:hover {
  color: #2ea3e5;
}

.nav-auth {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.selected-url {
  color: #2ea3e5;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.profile__avatar {
  width: 36px;
  height: 36px;
  border-radius: 0.4rem;
  background-color: #2ea3e5;
  margin-right: 12px;
}
.profile__wrapper {
  display: flex;
  flex-direction: column;
}
.profile__name {
  margin-bottom: 6px;
}
.profile__login-btn, .profile__signin-btn {
  margin: 20px;
  font-size: 18px;
}
.login-profile {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.login-profile__email {
  color: #fff;
  font-size: 20px;
  margin-bottom: 4px;
}
.login-profile__username {
  color: #fff;
  font-size: 20px;
}
.login-profile-link {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.login-profile__logout {
  color: #fff;
  font-size: 18px;
}

.hidden {
  opacity: 0;
}/*# sourceMappingURL=App.css.map */