extends ../../layouts/_login-signin
block script
//- head와 nav
block content


        //- 로그인 시작
        if user
            .login-wrap 
                form(action="/auth/login-local" method="post" class="login-forms")
                    .login-form
                        div(style={color: "white"}) #{user.email}
                        div(style={color: "white"}) #{user.name}님 안녕하세요
                        a(style={color: "white"} href="/auth/logout") 로그아웃
        else 
            .login-wrap 
                form(action="/auth/login-local" method="post" class="login-forms")
                    .login-form
                        .loginFeedback 
                            span #{errorFeedback}
                        .login-form-id 
                            label(for="email") 이메일
                            input(type="text" name="email" class="login-form-id__input")
                        .login-form-password 
                            label(for="password") 비밀번호
                            input.login-form-password__input(type="password" name="password")
                        .normal
                            button.normal-btn(type="submit")
                                i.fas.fa-envelope
                                span 로그인하기
                    .login-form-sns
                        .login-form-sns__title 
                            span SNS 로그인
                        .line
                            button.line-btn(type="button")
                                a(href="/auth/line") Line 로그인하기
                        .facebook
                            button.facebook-btn(type="button")
                                a(href="/auth/facebook") Facebook 로그인하기
                        .kakao
                            button.kakao-btn(type="button")
                                a(href="/auth/kakao") Kakao 로그인하기

