extends ../../layouts/_login-signin
block script
//- head와 nav
block content


        //- 로그인 시작
        .requireLogin
            form(action="/auth/login-local" method="post" class="requireLogin-forms")
                span(class="requireLogin-form__msg") 로그인이 필요합니다!
                a(class="requireLogin-form__link" href="/auth/login") 로그인하기