// layout ----------------------------------------------
@mixin layout-horizontal-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

@mixin layout-vertical-center {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

@mixin layout-horizontal-left {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

@mixin layout-vertical-left {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}
