// Color ----------------------------------------------
$color-text: #fff;

$color-primary-green: #21ec91;
$color-primary-blue: #2ea3e5;

$color-secondary-dark-blue: #233e4d;
$color-secondary-blue: #03438b;
$color-secondary-mint: #009cbb;
$color-secondary-dark: #0e191e;
$color-secondary-light-blue: #e6ecf3;
$color-secondary-light-mint: #e5f5f8;

$color-grayscale-black: #000;
$color-grayscale-white: #fff;
$color-grayscale-1: #333333;
$color-grayscale-2: #4f4f4f;
$color-grayscale-3: #828282;
$color-grayscale-4: #bdbdbd;
$color-grayscale-5: #e0e0e0;
$color-grayscale-6: #f2f2f2;

$color-danger: #eb5757;
$color-success: #219653;
$color-warning: #f2c94c;

$color-info-dark: #7d8da1;
$color-info-light: #f2c94c;
$color-dark-variant: #677483;

$color-background: #e6ecf3;
$color-btn: #e0e0e0;
$color-border: #e0e0e0;

// border ---------------------------------------------------
$border-line-1: 0.2px solid black;
$border-line-2: 0.6px solid black;
$border-line-3: 1px solid black;

$border-dashed-line-1: 0.6px dashed black;
$border-dashed-line-2: 1px dashed black;

// border-radius ----------------------------------------------
$card-border-radius: 2rem;
$border-radius-1: 0.4rem;
$border-radius-2: 0.8rem;
$border-radius-3: 1.2rem;

// padding ----------------------------------------------
$padding-1: 8px;
$padding-2: 12px;
$padding-3: 16px;
$padding-4: 20px;

// shadow ----------------------------------------------
$box-shadow-2: 0px 2px 2px rgba(0, 0, 0, 0.25);
$box-shadow-4: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow-8: 0px 8px 8px rgba(0, 0, 0, 0.25);
$box-shadow-16: 0px 16px 16px rgba(0, 0, 0, 0.25);
$box-shadow-24: 0px 24px 24px rgba(0, 0, 0, 0.25);

// asset 경로 ----------------------------------------------

// ~@는 src 폴더를 표현
$asset-path: "/src/assets/";
