<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="Digiclover-x" content="" />
    <link rel="stylesheet" href="../css/App.css" />
    <title>Digiclover-x</title>
    <script
      src="https://kit.fontawesome.com/f5b2afa047.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="signin">
    <div class="nav-logo">
      <a href="home.html">
        <img src="../assets/img/logo.png" />
      </a>
    </div>
    <nav class="nav-enter">
      <a href="login.html" class="nav-link__gray">로그인</a>
      <a href="signin.html" class="nav-link">
        회원가입
        <hr class="horizontal-line__signin" />
      </a>
    </nav>
    <hr class="horizontal-line" />

    <div class="signin-wrap">
      <form class="signin-forms" action="submit">
        <div class="signin-form">
          <div class="signin-form-email">
            <label for="signin-form-email__input">이메일</label>
            <input type="email" name="email" class="signin-form-email__input" />
          </div>

          <div class="signin-form-id">
            <label for="signin-form-id__input">아이디</label>
            <input type="text" name="id" class="signin-form-id__input" />
          </div>

          <div class="signin-form-phone">
            <label for="signin-form-phone__input">휴대폰 번호</label>
            <input type="tel" name="phone" class="signin-form-phone__input" />
          </div>

          <div class="signin-form-password">
            <label for="signin-form-password__input">비밀번호</label>
            <input
              type="password"
              name="password"
              class="signin-form-password__input"
            />
          </div>

          <div class="signin-btn-form-wrap">
            <button class="signin-form-btn" type="button">
              <i class="fas fa-envelope"></i>
              <span>회원가입하기</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
