// layout ----------------------------------------------
@mixin layout-horizontal-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

@mixin layout-vertical-center {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

@mixin layout-horizontal-left {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

@mixin layout-vertical-left {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

// transition ----------------------------------------------
@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

// text color ----------------------------------------------
@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// media size ----------------------------------------------
@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

// btn ----------------------------------------------
@mixin btn {
  font-family: "Noto Sans KR", sans-serif;
  margin: 5px;
  width: 300px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: $border-radius-1;
  font-size: 14px;
}

@mixin btn-sidebar {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0 0 20px 0;
  width: 197px;
  height: 50px;
  border-radius: $border-radius-1;
  font-size: 14px;
}

// input ----------------------------------------------
@mixin input-box {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: $border-radius-1;
  font-size: 14px;
}

@mixin input-btn {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  height: 50px;
  border-radius: $border-radius-1;
  background-color: $color-btn;
  font-size: 14px;
}
