// font ----------------------------------------------
// noto sans kr (default)
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800&display=swap");

// ultra (Emphasis),
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&family=Ultra&display=swap");

// cormorant garomond (classic)
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

// Rokkitt (coding feeling)
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Rokkitt:wght@100;300;500;700;900&display=swap");

$regular: 300;
$medium: 500;
$bold: 700;
