.select-docukind {
  width: 50%;

  .info {
    font-size: 20px;
    margin: 10px 5px;
    text-align: left; //center
  }

  .company-contractor_wrapper {
  }

  .slide_wrapper {
    margin: 0 auto;
    height: 400px;

    .slides {
      @include layout-horizontal-left;

      & .slide {
        list-style: none;
        box-sizing: border-box;
        width: 120px;
        height: 120px;
        background: $color-btn;
        margin: 2.5px;

        // 가로,세로 가운데 정렬
        & label {
          @include layout-horizontal-center;
          height: 100%;
          margin: 0 10px;
        }
      }

      & .slide:focus {
        border: 1px solid $color-primary-green;
        background-color: rgb(156, 156, 156);
      }
    }
  }
}
