.docu {
  @include layout-horizontal-center;

  &-wrapper {
    border: 1px solid gray;
    @include layout-vertical-center;
    width: 794px;
    margin: 30px 0;
  }

  &-title {
    margin: 50px 0;
    & input {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      padding: 0 50px;
    }
  }
  &-describe {
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
    & input {
      width: 100%;
      height: 30px;
      text-align: center;
      padding: 0 50px;
    }
  }
  &-contents {
    width: 100%;
  }
  &-content {
    padding: 0 50px;
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    & input {
      font-size: 16px;
      font-weight: bold;
    }
    & textarea {
      width: 100%;
      height: 100px;
      display: block;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: $border-radius-1;
    }
  }
}

.addContentBtn {
  width: 694px;
  height: 40px;
  margin: 50px 0;
  padding: 0 50px;
  background-color: #ccc;
}

.moveBtns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  & input {
    width: 100px;
    height: 50px;
    margin: 0 50px 50px 50px;
  }
}
