html(lang="en")
    head
        include ../../includes/html-head.pug

    body.email
        header
            //- 로고
            .logo 
                a(href="/") 
                    img(src="../assets/img/logo.png")
            h2.step-5(style={display: "none"}) 5. 이용 동의 및 메일 전송

        main
            //- 진행률 표시
            include ../../includes/progress-bar.pug

            //- 유저별 카드 적용
            .cards 

            form.email-form(method="post" action="/send/email")

                //- 이전 페이지, 다음 페이지 이동 버튼
                .btn--wrap
                    input.btn--link2(type="button" onclick="history.back()" value="이전")
                    input.btn--link2(type="submit" name="isContinue" value="메일 전송")


        script(type='text/javascript' src="./js/progress-indicator.js")
        script(type='text/javascript' src="./js/card.js")
