html(lang="en")
    head
        include ../../includes/html-head.pug

    body.signning
        header
            //- 로고
            .logo 
                a(href="/") 
                    img(src="../assets/img/logo.png")
            h2.page-2#pages 4. 요청자 서명

        //- 진행률 표시
        include ../../includes/progress-bar.pug
        main
            form.signning-form(method="post" action="/send/signning")
            
                //- 이전 페이지, 다음 페이지 이동 버튼
                .btn--wrapper
                    .btn--link
                        input(type="button" onclick="history.back()" value="이전")
                    .btn--link
                        input(type="submit" name="isContinue" value="서명 완료")

        script(type='text/javascript' src="./js/progress-indicator.js")
