html(lang="en")
    head
        include ../../includes/html-head.pug

    body.signning
        header
            //- 로고
            .logo 
                a(href="/") 
                    img(src="../assets/img/logo.png")
            h2.step-4(style={display: "none"}) 4. 요청자 서명

        main
            //- 진행률 표시
            include ../../includes/progress-bar.pug

            //- 작성한 문서 뷰어 구현 필요@@

            canvas.canvas(style={width: "70vw"})
            .btn--wrap
                span.canvas__destroy(id="destroy-btn") 지우기
                span.canvas__save(id="save") 서명 저장
                label.canvas__file(for="file") 서명 업로드
                input(id="file" type="file" accept="image/*")

            //- 이전 페이지, 다음 페이지 이동 버튼
            .btn--wrap
                input.btn--link2(type="button" onclick="history.back()" value="이전")
                a.btn--link2.canvas__submit(href="/send/email" role="button") 서명 완료

        script(type='text/javascript' src="./js/progress-indicator.js")
        script(type='text/javascript' src="./js/signature-maker.js")